:root {
  --background:  #EDEAE5;
  --cardBorder: #A67B5B;
  --menu: #D9B99B;
  --contrast: #584130;
  --button: #A67B5B;
  --fontColor: #FFFFFF;
  --title: #5C4A3E;
  --subtitle:  #A67B5B;
}

body {
  background-color: var(--background);
  margin: unset;
}
.container-header {
  padding: 0 20px;
  background-color: var(--menu);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--fontColor);
  .crimson-text-regular {
    &.common {
      font-size: larger;
      color: var(--fontColor);
    }
  }
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.container-menu {
  background-color: var(--menu);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 16px;
  margin: 0;
  .crimson-text-regular {
    &.menu {
      font-size: large;
    }
  }
}

a:-webkit-any-link {
  color: var(--fontColor);
  cursor: pointer;
  text-decoration: unset;
}

.product-card {
  padding: 20px;
  position: relative;
  margin: 30px;
  .progress-button {
    border: none;
    background-color: transparent;
    bottom: 50%;
    position: absolute;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.25s;
    > svg {
      width: 11px;
      height: 20px;
      color: var(--cardBorder);
    }

    &.progress-left {
      left: 0;
    }
    &.progress-right {
      right: 0;
    }
    &.invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
  .progress-bar {
    left: 0;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    &.hidden {
      opacity: 0;
    }
    > svg {
      color: var(--cardBorder);
      width: 8px;
      height: 8px;
      &.selected {
        color: var(--contrast);
      }
    }
  }
  .product-card-carousel {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease-in-out !important;
    .product-card-container {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      transition: left 0.25s;
      .product-card-render {
        flex: 0 0 100%;
        .card-image {
          overflow: hidden;
          > img {
            width: 100%;
            transition: transform 0.6s ease-in-out !important;
            aspect-ratio: 1;
            object-fit: cover;
            overflow: hidden;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .card-description {
          position: relative;
          padding: 15px;
          border-style: solid;
          border-top: none;
          border-color: var(--cardBorder);
          color: var(--title);
          > h4 {
            margin: 0px 0px 20px;
            font-size: 1.2rem;
          }
          .description-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--background);
            display: none;
            &.active {
              display: block;
            }
            > p {
              margin-left: 15px;
              color: var(--title);
            }
          }
          > svg {
            color: var(--button);
            position: absolute;
            height: 1.8rem;
            width: 1.8rem;
            top: -1.3rem;
            right: 0.7rem;
            display: none;
            background-color: var(--background);
            border-radius: 50%;
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}

.product-balloon {
  position: relative;
  margin: 50px;
  background-color: var(--menu);
  height: 100px;
  &:not(.inverted) {
    &::before {
      display: flex;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid var(--menu);
      content: "";
      top: -30px;
      position: absolute;
      left: calc(50% - 30px);
    }
  }
  &.inverted {
    &::before {
      display: flex;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid var(--menu);
      content: "";
      bottom: -30px;
      position: absolute;
      left: calc(50% - 30px);
    }
  }
}

.text-img-block {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  animation: 2s animation;
  > img {
    height: 300px;
  }
}

@keyframes animation {
  from {
    bottom: -60px;
  }
  to {
    bottom: 20px;
  }
}

.page-home {
  .featured {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    > * {
      flex: 1;
    }
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
  padding-bottom: 5px;
  background-color: var(--menu);
  color: var(--fontColor);
  .social-media {
    display: flex;
    gap: 0.7rem;
    > a {
      > svg {
        height: 24px;
      }
    }
  }
  > a {
    > img {
      width: 100px;
    }
  }
}

.aboutus {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
  .text-block {
    padding: 0 50px 0 70px;
  }
  .img-bio {
    border-radius: 50%;
    width: 300px;
    transition: transform 0.3s ease-in-out !important;
    aspect-ratio: 1;
    &:hover {
      transform: scale(1.08);
    }
  }
}

.category-title {
  font-size: x-large;
  color: var(--title);
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.sub-list {
  color: var(--fontColor);
  background-color: var(--menu);
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  padding: 16px;
  margin: 0 0 15px;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      transparent 0%,
      #ffffff 50%,
      transparent 100%
    )
    100% 1;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  max-width: 80rem;
  margin: auto;
  margin-bottom: 10rem;
  margin-top: 3rem;
  .contact-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > a {
      color: var(--cardBorderxx);
      margin-right: auto;
    }
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    margin-top: 7rem;
    > * {
      margin: 10px;
    }
    input,
    textarea {
      background-color: var(--background);
      width: 90%;
      border: 0;
      border-bottom: 1px solid #aaa;
      font-size: 15px;
      font-weight: 300;
      color: var(--cardBorder);
      letter-spacing: 0.11em;
      

      &::placeholder {
        color: var(--menu);
        font-size: 15px;
      }

      &:focus {
        outline: 0;
        border-bottom: 1px solid var(--contrast);
        transition: 0.6s all ease;
      }
    }
    > button {
      border-style: none;
      border: 0;
      outline: 0;
      color: white;
      font-size: 15px;
      font-weight: 300;
      position: relative;
      z-index: 3;
      background: var(--contrast);
      cursor: pointer;
    }
  }
}
