:root {
  --background: #f2dcc9;
  --cardBorder: #594645;
  --menu: #bf6c5a;
  --contrast: #bf522a;
  --fontColor: #ffffff;
}

body {
  background-color: var(--background);
  margin: unset;
}
.container-header {
  padding: 0 20px;
  background-color: var(--menu);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--fontColor);
  .crimson-text-regular {
    &.common {
      font-size: larger;
      color: var(--fontColor);
    }
  }
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.container-menu {
  background-color: var(--menu);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 16px;
  .crimson-text-regular {
    &.menu {
      font-size: large;
    }
  }
}

a:-webkit-any-link {
  color: var(--fontColor);
  cursor: pointer;
  text-decoration: unset;
}

.product-card {
  padding: 20px;
  position: relative;
  .progress-button {
    border: none;
    background-color: transparent;
    bottom: 50%;
    position: absolute;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.25s;
    > svg {
      width: 11px;
      height: 20px;
      color: var(--cardBorder);
    }

    &.progress-left {
      left: 0;
    }
    &.progress-right {
      right: 0;
    }
    &.invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
  .progress-bar {
    left: 0;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    > svg {
      color: var(--cardBorder);
      width: 8px;
      height: 8px;
      &.selected {
        color: var(--contrast);
      }
    }
  }
  .product-card-carousel {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease-in-out !important;
    .product-card-container {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      transition: left 0.25s;
      .product-card-render {
        background-color: var(--cardBorder);
        flex: 0 0 100%;
        > img {
          width: 100%;
          transition: transform 0.6s ease-in-out !important;
          aspect-ratio: 1;
        }
      }
    }
  }
}

.product-card-render:hover img {
  transform: scale(1.05);
}

.product-balloon::before {
  display: flex;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  content: "";
  top: -30px;
  position: absolute;
  left: calc(50% - 30px);
}

.product-balloon {
  position: relative;
  margin: 50px;
  background-color: white;
  height: 100px;
}

.text-img-block {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  animation: 2s animation;
  > img {
    height: 300px;
  }
}

@keyframes animation {
  from {
    bottom: -60px;
  }
  to {
    bottom: 20px;
  }
}

.page-home {
  .featured {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    > * {
      flex: 1;
    }
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
  background-color: var(--menu);
  color: var(--fontColor);
  .social-media {
    display: flex;
    gap: 0.7rem;
    > a {
      > svg {
        height: 24px;
      }
    }
  }
  > a {
    > img {
      width: 100px;
    }
  }
}
